<!DOCTYPE html>
<html>
  <head>
    <title>Furima</title>
    <script src="item_price.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_pack_tag 'application' %>
   <script type="text/javascript" src="https://js.pay.jp/v2/pay.js"></script>  </head>
  <body>
    <%= yield %>
  </body>
</html>